<div class="d-flex flex-column" id="campanhas">
  <h2 class="span1">LISTA DE CAMPANHAS</h2>
  <div class="container">
    <div class="">
      <a routerLink="" class="btn btn-primary">Nova Campanha</a>
    </div>
    <div cdkDropListGroup class="d-flex flex-row-reverse justify-content-between">
      <div class="example-container">
        <h2>To do</h2>

        <div
          cdkDropList
          [cdkDropListData]="produtos"
          class="product-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="box-list-product" *ngFor="let item of produtos" cdkDrag>
            <img src="{{ item.fotoUrl }}" alt="Image" height="80" width="80" />
          </div>
        </div>
      </div>

      <div>
        <h2>Prateleira 1</h2>
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          class="prateleira"
          [cdkDropListData]="prateleira"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let timePeriod of prateleira"
            cdkDrag
          >
            <img
              src="{{ timePeriod.fotoUrl }}"
              alt="Image"
              height="80"
              width="80"
            />
          </div>
        </div>
        <h4>Prateleira 2</h4>
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          class="example-list"
          [cdkDropListData]="prateleira2"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let timePeriod of prateleira2"
            cdkDrag
          >
            {{ timePeriod.nome }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
