<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="produtos"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of produtos" cdkDrag>{{item.nome}}</div>
    </div>
  </div>

  <!-- <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="prateleira"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of prateleira" cdkDrag>{{item.nome}}</div>
    </div>
  </div>
</div> -->
<h4>Prateleira 1</h4>
<div cdkDropList
 cdkDropListOrientation="horizontal"
  class="example-list" 
  [cdkDropListData]="prateleira"
  (cdkDropListDropped)="drop($event)">
  
  <div class="example-box" *ngFor="let timePeriod of prateleira" cdkDrag>{{timePeriod.nome}}</div>
</div>
<h4>Prateleira 2</h4>
<div cdkDropList
 cdkDropListOrientation="horizontal"
  class="example-list" 
  [cdkDropListData]="prateleira2"
  (cdkDropListDropped)="drop($event)">
  
  <div class="example-box" *ngFor="let timePeriod of prateleira2" cdkDrag>{{timePeriod.nome}}</div>
</div>